{{!-- set this up so that handlebars can use this --}}
<center>
  <img src='https://vignette3.wikia.nocookie.net/battle-insanity/images/9/93/Burger.png/revision/latest?cb=20160304202530'>
<h1>Eat Da Burger!</h1>

<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="ca">Enter a burger you want to eat</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Submit</button>
</form>
</center>
